/* This file is for your main application css. */

.outline {
   border: 1px solid black;
}

.outline-red {
   border: 1px solid red;
}

.responsive-item {
    width: 32%;
    height: auto;
}

.responsive-item:hover {
    border: 1px solid green;
}

.dropzone {
    margin-top: 25px;
    min-height: 75px;
    background-color: #C0C0C0;
}